/* setup default values for all grid components */
@vertical_rhythm: 20;
@font_size: 12;

@grid_columns: 24;
@colun_width: 48px;
@gutter_width: 12px;
@cell_margin: @gutter_width / 2;

@grid_min_width: 0px;
@grid_max_width: 32767px;

.box-sizing(@sizing: border-box){
	-moz-box-sizing: @sizing;
	-webkit-box-sizing: @sizing;
	box-sizing: @sizing;
}

* {  
	.box-sizing();
}

body{
	.box-sizing(content-box);
  margin: 0 auto;
}

._grid_width(@cols){
  width: @cols * (@colun_width + @gutter_width);
}

.grid(@cols: 1, @float:left) {
  ._grid_width(@cols);
  min-width: @grid_min_width;
  max-width: @grid_max_width;
  margin: 0 auto;
  text-align: left;
  float:@float;
}

.height(@cols: 1){
  height: @cols * (@colun_width + @gutter_width) - @gutter_width;
}

.cell(){
  .cell(1,0)
}

.cell(@cols){
  .cell(@cols,0);
}

._cell_common{
  overflow: hidden;
  float:left;
  display:inline;
}

.cell(@cols, @leaving){
  ._cell_common;
  width: @cols * (@colun_width + @gutter_width) - @gutter_width;
  margin: @cell_margin @cell_margin @cell_margin @cell_margin + @leaving * (@colun_width + @gutter_width);
}

.grid_cell(@cols:1){
  ._cell_common;
  ._grid_width(@cols);  
  padding: @cell_margin;
}

